main {

	padding: 70px;
}


nav {
  height: 60px;
  background-color: lightgrey;
  position: fixed;
  width: 100%;
}



nav ul {
  display: inline-block;
  list-style: none;
  position:absolute;
  right: 0;
  margin-right: 20px;
  font-size: 150%;
  vertical-align: middle;
}

nav li {
  display: inline-block;
  vertical-align: middle;
  
}

label {
	display: block;
text-align: left;
}

form {
	margin-left: auto;
	padding-bottom: 60px;
}

table {

\}