main {

	padding: 70px;
}

body  {
  margin: 0;
}

nav {
  height: 30px;
  background-color: lightgrey;
  position: fixed;
  width: 100%;
}

nav ul {
  display: inline-block;
  list-style: none;
  position: absolute;
  right: 0;
  font-size: 100%;
  vertical-align: middle;
  margin: 0;
  padding-right: 20px;
}

nav li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  
}

label {
	display: block;
  text-align: left;
}

form {
	margin-left: auto;
	padding-bottom: 60px;
}

.search_form_button {
    width: 2.5em;  height: 2.5em;
    position: relative;
}

table.result_nav, tr.result_nav, td.result_nav, colgroup.result_nav {
	
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;

}